/* Structure */
/* Colours */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  overflow: hidden; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

button {
  outline: 0;
  border: none;
  background: none; }

.container {
  padding-bottom: 68px;
  box-sizing: border-box; }

.container, .content {
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden; }

.content {
  background-color: white;
  overflow-y: scroll;
  width: 200%; }

.content .page {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.page.master {
  position: absolute;
  top: 0;
  left: 0; }

.page.detail {
  position: absolute;
  top: 0;
  left: 104%;
  box-shadow: 0 0 8px rgba(60, 60, 60, 0.4);
  transition: left 0.5s ease; }

.content.pushed #detail {
  left: 0; }

.container .content {
  display: none; }

.container[data-page='1'] .content[data-page-id='1'] {
  display: block; }

.container[data-page='2'] .content[data-page-id='2'] {
  display: block; }

.container[data-page='3'] .content[data-page-id='3'] {
  display: block; }

.field-input {
  height: 100%; }

/* Structure */
/* Colours */
.tab-bar {
  position: fixed;
  height: 68px;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #C0C0C0;
  background-color: #F3F3F3;
  opacity: 0.7;
  z-index: 2; }

.tab {
  width: 33.33%;
  cursor: pointer;
  float: left;
  text-align: center;
  height: 68px; }

.tab .icon {
  margin: 10.28571px auto 3.42857px auto;
  float: none;
  width: 50px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat; }

.tab .icon.requests {
  background-image: url("../img/requests.svg"); }

.tab.active .icon.requests {
  background-image: url("../img/requests.active.svg"); }

.tab .icon.profile {
  background-image: url("../img/profile.svg"); }

.tab.active .icon.profile {
  background-image: url("../img/profile.active.svg"); }

.tab .icon.relationships {
  background-image: url("../img/relationships.svg"); }

.tab.active .icon.relationships {
  background-image: url("../img/relationships.active.svg"); }

.tab .label {
  color: #C0C0C0;
  font-size: 12px;
  font-size: 12px;
  float: none; }

.tab.active .label {
  color: #5298FC; }

.icon {
  top: 2px;
  width: 10px;
  display: block;
  width: 22px;
  height: 16px;
  margin-top: 1px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center;
  float: left; }
