/* Structure */

$tab-bar-height: 68px;

/* Colours */

$light-grey:  #F3F3F3;
$medium-grey: #C0C0C0;
$dark-grey:   #1C1C1C;

$bright-blue: #5298FC;
$light-blue:  #6D808E;
$medium-blue: #5A6B77;
$dark-blue:   #475762;
