.icon {
  top: 2px;
  width: 10px;
  display: block;
  width: 22px;
  height: 16px;
  margin-top: 1px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
