@import 'base';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  outline: 0;
  border: none;
  background: none;
}

.container {
  height: 100%;
}

.content {
  display: none;
  height: 100%;
}

.content .page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: $tab-bar-height + 12px;
  background: red;
  overflow-y: scroll;
  background-color: $light-grey;
}

.page.master {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.page.detail {
  position: absolute;
  top: 0;
  left: 104%;
  z-index: 2;
  box-shadow: 0 0 8px rgba(60, 60, 60, 0.4);
  transition: left 0.6s ease;
}

.content.pushed .detail {
  left: 0;
}

.container .content {
  display: none;
}

.container .content.active {
  display: block;
}

.field-input {
  height: 100%;
}
