<div class="content">
  <div class="master page">
    {{> nav-bar this}}
    <ul class="list-view">
      <li class="list-item">
        <div class="title"><img class="relationship-icon" src="img/mock-relationships/coop.png">The COOP</div>
        <div class="annotation"><span class="glyphicon glyphicon-menu-right"></span></div>
      </li>
      <li class="list-item">
        <div class="title"><img class="relationship-icon" src="img/mock-relationships/hsa.png">Harvard Student Agencies</div>
        <div class="annotation"><span class="glyphicon glyphicon-menu-right"></span></div>
      </li>
      <li class="list-item">
        <div class="title"><img class="relationship-icon" src="img/mock-relationships/metlife.png">MetLife</div>
        <div class="annotation"><span class="glyphicon glyphicon-menu-right"></span></div>
      </li>
    </ul>
  </div>
  <div class="detail page">
    {{> nav-bar this}}
    <h5 class="relationships-title">Pending requests</h5>
    <ul class="list-view">
      <li class="list-item">
        <div class="title">Promotions</div>
        <div class="annotation">25/01/2015</div>
      </li>
    </ul>
    <h5 class="relationships-title">Organisation profile</h5>
    <ul class="list-view">
      <li class="list-item">
        <div class="title">Account number</div>
        <div class="annotation">1212-5123-1231</div>
      </li>
      <li class="list-item">
        <div class="title">Personal sales assistant</div>
        <div class="annotation">Heidi: (828) 972-4261</div>
      </li>
    </ul>
    <h5 class="relationships-title">Relationship history</h5>
    <ul class="list-view">
      <li class="list-item">
        <div class="title">Web form</div>
        <div class="annotation">24/01/2015</div>
      </li>
      <li class="list-item">
        <div class="title">Account renewal form</div>
        <div class="annotation">27/12/2014</div>
      </li>
      <li class="list-item">
        <div class="title">Signup form</div>
        <div class="annotation">16/08/2014</div>
      </li>
    </ul>
  </div>
</div>
