<div class="content">
  <div class="master page">
    {{> nav-bar this}}
    <ul class="list-view">
      {{#each relationships}}
      <li class="list-item" data-target="{{id}}">
          <div class="title">{{vendor.name}}</div>
          <div class="annotation"><span class="glyphicon glyphicon-menu-right"></span></div>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="detail page">
  </div>
</div>
